---
layout: default
retreats:
   -  aspect-ratio: portrait
      column-width: col-4_sm-12
      background_image: https://source.unsplash.com/zdLdgGbi9Ow
   -  aspect-ratio: portrait
      column-width: col-4
      background_image: https://source.unsplash.com/Mqx2-kbCVE8
   -  aspect-ratio: portrait
      column-width: col-4
      background_image: https://source.unsplash.com/bUajV59CYEI
   -  aspect-ratio: landscape
      column-width: col-6_sm-12
      background_image: https://source.unsplash.com/nhjxngI_5D4
   -  aspect-ratio: landscape
      column-width: col-6_sm-12
      background_image: https://source.unsplash.com/W-ETYNUdFHo
   -  aspect-ratio: landscape-wide
      column-width: col-12
      background_image: https://source.unsplash.com/8w7b4SdhOgw
---

<!-- Gallery -->

<header class="bg-image bg-stone padded">
  {% include header-nav.html %}
</header>

<section class="padded">
    <h2 class="text-featured">Our latest retreats</h2>

    <div class="grid-center gallery">
        <h3 class="col-12">Bali | March 2021</h3>
        
        {% for item in page.retreats %}
        <div class="{{item.column-width}}">
            <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"></div>
        </div>
        {% endfor %}

    </div>

    
</section>
